@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.logo{
    height: 400px;
    width: 400px;
}

.titulo{
    color: #5e2723;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: -40px;
    padding: 0px 0px 30px 0px;
}

.texto{
    padding-top: 40px;
    padding-left: 5px;
    
}

.cor{
    background-color: #5e2723;
    color: white;
    border-radius: 10px;
}

@font-face {
    font-family: 'Plastic';
    src: url('Plastic Beauty Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#sobre-nos {
    font-family: 'Plastic',Times,sans-serif;
    font-size: 80px;
}

