@font-face {
    font-family: 'Plastic';
    src: url('Plastic Beauty Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.fundo{
    background-color: #5e2723;
}

.fontcolor{
    color: aliceblue;
}

.textcenter{
    text-align: center;
}

.borda{
    border-radius: 10px;
}

.bordaimg{
    border-radius: 5%;
}


#origem{
    font-family: 'Plastic',Times,sans-serif;
    font-size: 50px;
}

#cafe-brasil{
    font-family: 'Plastic',Times,sans-serif;
    font-size: 50px;
}

#cafe-minas{
    font-family: 'Plastic',Times,sans-serif;
    font-size: 50px;
}


